'context-menu':
  'atom-workspace atom-text-editor:not(.mini)': [
    {label: 'Select as Wallaby.js Config', command: 'wallaby:select-config-from-editor'}
  ]
  '.tree-view .file': [
    {label: 'Select as Wallaby.js Config', command: 'wallaby:select-config-from-tree'}
  ]
