'atom-workspace':
  'cmd-shift-space': 'wallaby:show-command-palette'
  'cmd-shift-t t': 'wallaby:toggle-panel'
  'ctrl-1': 'wallaby:focus-panel'
  'cmd-shift-t r': 'wallaby:start'
  'cmd-shift-t s': 'wallaby:stop'

'.wallaby-panel-view-failing-tests':
  'escape': 'tool-panel:unfocus'
