@import "ui-variables";
@import "wallaby-vars";

.wallaby-panel-view {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  min-height: 50px;
  height: 200px;
  z-index: 2;

  .wallaby-panel-view-resizer {
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    cursor: row-resize;
    z-index: 3;
  }

  .wallaby-panel-view-container {
    padding: @component-padding / 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .wallaby-panel-view-header {
      padding: @component-padding/4 @component-padding/2;
      .header-item {
        margin: @component-padding/4 0;
      }

      .icons {
        padding-left: @component-padding/2;

        .icon-playback-play {
          color: @fullyCovered;
        }
        .icon-playback-play:hover {
          color: green;
        }

        .icon-primitive-square {
          color: @errorSource
        }
        .icon-primitive-square:hover {
          color: red;
        }
      }
    }

    .wallaby-panel-view-content {
      flex: 1;
      display: flex;
      flex-direction: row;
      font-size: @font-size;

      .wallaby-panel-view-failing-tests {
        overflow: auto;
        padding: @component-padding/4 @component-padding/2;
        padding-right: @component-padding;
        flex: 1;
      }

      .wallaby-panel-view-console {
        overflow: auto;
        padding: @component-padding/4 @component-padding/2;
        padding-right: @component-padding;
        flex: 1;
      }
    }
  }
}

.platform-win32 {
  .wallaby-panel-view {
    .wallaby-panel-view-resizer {
      cursor: ns-resize;
    }
  }
}
